body{
    display:flex;
    justify-content: center;
  }
  .container{
    display:grid; 
    height:100px;
    gap:0%;
  }
  
  .grid{
    border:solid;
  }
  .case{
    border:solid 1px;
    width:25px;
    height:25px;
  }
  